.tech-stack{
    padding-left: 130px;
    margin-top: 60px 0px;
}

.tech-list{
    margin-top: 20px;
}

.tech-stack hr{
    color: #138781;
    width: 400px;
    margin: 10px auto;
}

.tech-stack h2{
    font-weight: bold;
    color: #138781;
}